extends base

block stylesheets
    link(rel='stylesheet', href='/partials/navbar.css')
    link(rel='stylesheet', href='/user-profile-copy.css')
    
block content 
    header
    .profile-container
        #profile-picture
            img(src="./images/filler-icon.jpg", alt="Profile Picture")
        h1 Hi, 
            span=user.firstName 
        p What would you like to get started on today?

    .registered-cars
        h2 Registered Cars
        hr
        each vehicle in vehicles 
            .car
                -const capitalizedClassification = vehicle.classification.charAt(0).toUpperCase() + vehicle.classification.slice(1).toLowerCase()
                img(src=`/images/vehicleClassification/${capitalizedClassification}.jpeg`)
                .car-status
                    .car-info
                        p.car-text Status:
                        p.status= vehicle.status
                    .car-info
                        p.car-text Plate Number:
                        p.status=vehicle.plateNumber

        button#add
            img#addPhoto(src="/images/add.png")

        #addCarPopup.popupContainer 
            .popupContent 
                span#closePopup.closePopup &times;
                h1 Add a Car 
                form#addCarForm
                    label(for='classType') Classification
                    br
                    select#classType(name="classType", required)
                        option(value="", disabled, selected) Select Class Type
                        each vehicleClassification in vehicleClassifications
                            option(value=`${vehicleClassification.name}`)=vehicleClassification.name 
                    br

                    label(for='carBrand') Brand 
                    input(type='text' id='carBrand', name='carBrand' required)
                    
                    label(for='plateNumber') Plate Number (3 Digits, 3 Letters, 4 Digits)
                    input(type='text' id='plateNumber' name='plateNumber' required)

                    input(type='hidden' name='userId' value=user._id, id='userId')
                    button(type='submit') Submit
                    
            #successPopup.popupContainer 
                .popupContent 
                    span#closeSuccessPopup.closePopup &times;
                    h1 Completed 
                    p Your car has been added successfully 
                    button(type='submit' id='closeBtn') Done 

block scripts 
    script(src='/js/registerVehicle.js')



